.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 5px solid rgb(128, 15, 0);
  padding: 10px;
}

.header{
  padding: 10px;
}

body{
  padding: 10px;
  background-color: rgb(175, 223, 238);
}