.field{
  width: 600px;
  padding-bottom: 40px;
}

.colour-border{
  border: 5px solid rgb(175, 21, 1);
  padding: 10px;
}

.header{
  padding: 10px;
}

body{
  padding: 20px;
  background-color: rgb(130, 122, 243);
}